# Build folder
build/

# Pico SDK
pico-sdk/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ninja
.ninja*

# Binaries
*.elf
*.uf2
*.bin
*.hex
*.map
*.dis
*.out
*.o
*.a

# Logs
*.log

# IDE
.vscode/

# OS junk
.DS_Store
Thumbs.db